{% extends 'main/base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block main %}
<div class="about">
	<div class="about__container">
		<h2>About Us</h2>
	   <p>XShop is more than just a tea store — it's a lifestyle of calm and balance. We believe in the power of natural tea to bring harmony, relaxation, and joy to everyday life.</p>
	   <p>Our team travels the world in search of the finest tea varieties, so you can enjoy premium quality no matter where you are.</p>
	   <p>Every cup is a step closer to inner peace. Join us on this journey through tea.</p>
	</div>
</div>
{% endblock main %}