{% extends 'base.html' %}
{% load static %}

{% block title %}Order & Return{% endblock title %}

{% block main %}
<div class="order-return page-section">
	<div class="order-return__container page-section__container">
		<h2 class="order-return__title page-section__title">Order & Return Policy</h2>
		<p class="order-return__intro page-section__intro ">
		We want you to have the best experience shopping with us. Please review our order and return policies below.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">1. Placing an Order</h3>
		<p class="order-return__text page-section__text">
		Orders can be placed online at any time. Once an order is placed, you will receive a confirmation email. Processing typically takes 1–2 business days.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">2. Shipping</h3>
		<p class="order-return__text page-section__text">
		Shipping times vary depending on your location. Standard delivery within the country takes 2–5 business days. International shipping may take longer.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">3. Order Changes</h3>
		<p class="order-return__text page-section__text">
		If you need to change or cancel your order, please contact us within 12 hours of placing it. After that, we may not be able to guarantee changes.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">4. Return Eligibility</h3>
		<p class="order-return__text page-section__text">
		Returns are accepted within 14 days of delivery. Items must be unused, in original packaging, and accompanied by a receipt or proof of purchase.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle">5. Non-Returnable Items</h3>
		<p class="order-return__text page-section__text">
		Certain types of items such as perishable goods (e.g., loose leaf teas), custom orders, or personal care items cannot be returned.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">6. Refunds</h3>
		<p class="order-return__text page-section__text">
		Once your return is received and inspected, we will notify you via email. If approved, your refund will be processed within 5–10 business days.
		</p>

		<h3 class="order-return__subtitle page-section__subtitle ">7. Contact Us</h3>
		<p class="order-return__text page-section__text">
		For any questions regarding your order or return, feel free to contact our support team at support@example.com.
		</p>
	</div>
</div>
{% endblock main %}