{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock title %}

{% block main %}
<div class="checkout-container">
  <!-- CART SECTION -->
  <div class="checkout-cart">
    <h2 class="cart__title">Your Order</h2>
    <div  id="cart-items-container">
    {% include "carts/includes/included_cart.html" %}
    </div>
  </div>

  <!-- ORDER FORM SECTION -->
  <div class="checkout-form">
    <h2 class="cart__title">Delivery Details</h2>
    <form action="{% url "order:create_order" %}" method="post" id="create_order_form">
      {% csrf_token %}
      <div class="checkout-grid">
        <div class="form-group">
          <label for="id_first_name">First Name*</label>
          <input type="text" 
            id="id_first_name" 
            placeholder="Your First Name"
            name="first_name" 
            value = "{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
            required>
            {% if form.first_name.errors %}
                <div class="notification-inline" style="margin-top: 10px;">
                    {{ form.first_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
          <label for="id_last_name">Last Name*</label>
          <input type="text" 
            id="id_last_name" 
            placeholder="Your Last Name" 
            name="last_name" 
            value = "{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
            required>
            {% if form.last_name.errors %}
                <div class="notification-inline" style="margin-top: 10px;">
                    {{ form.last_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
          <label for="id_phone_number">Phone Number*</label>
          <input type="text" 
            id="id_phone_number" 
            placeholder="(000) 000-0000" 
            name="phone_number" 
            value = "{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"
            required>
            {% if form.phone_number.errors %}
                <div class="notification-inline" style="margin-top: 10px;">
                    {{ form.phone_number.errors }}
                </div>
            {% endif %}
            <div class="notification-inline" id="phone_number_error" style="margin-top: 10px; display: none;">
              Invalid phone number format
            </div>
        </div>


        {% comment %} <div class="form-group">
          <label for="delivery">Delivery Method</label>
          <div class="radio-group">
              <label class="custom-radio" for="delivery_radio">
                <input type="radio" name="requires_delivery" id="delivery_radio" value="1" checked>
                <span class="radio-mark"></span>Delivery
              </label>
              <label class="custom-radio" for="pickup_radio">
                <input type="radio" name="requires_delivery" id="pickup_radio" value="0">
                <span class="radio-mark"></span>Pickup
              </label>
          </div>
        </div> {% endcomment %}
        <div class="form-group">
          <label class="form-label">Delivery Method</label>
          <div class="radio-group">
            <input type="radio" name="requires_delivery" id="id_requires_delivery" value="1" checked class="custom-radio-input">
            <label class="custom-radio-label" for="id_requires_delivery">
              <span class="radio-mark"></span>Delivery
            </label>
        
            <input type="radio" name="requires_delivery" id="id_requires_delivery" value="0" class="custom-radio-input">
            <label class="custom-radio-label" for="id_requires_delivery">
              <span class="radio-mark"></span>Pickup
            </label>
          </div>
        </div>


      </div>

      <div class="checkout-grid checkout-address" id="deliveryAddressField">
        <div class="form-group">
          <label for="id_delivery_address_city">City*</label>
          <input type="text" 
            id="id_delivery_address_city" 
            placeholder="Your City" 
            name="delivery_address_city"
            value = "{% if form.delivery_address_city.value %}{{form.delivery_address_city.value}}{% endif %}"
            >
          {% if form.delivery_address_city.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.delivery_address_city.errors }}
          </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_delivery_address_street">Street*</label>
          <input type="text" 
            id="id_delivery_address_street" 
            placeholder="Your Street" 
            name="delivery_address_street"
            value = "{% if form.delivery_address_street.value %}{{form.delivery_address_street.value}}{% endif %}"
            >
          {% if form.delivery_address_street.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.delivery_address_street.errors }}
          </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_delivery_address_house">House*</label>
          <input type="text" 
            id="id_delivery_address_house" 
            placeholder="Your House" 
            name="delivery_address_house"
            value = "{% if form.delivery_address_house.value %}{{form.delivery_address_house.value}}{% endif %}"
            >
          {% if form.delivery_address_house.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.delivery_address_house.errors }}
          </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_delivery_address_apartment">Apartment</label>
          <input type="text" 
            id="id_delivery_address_apartment" 
            placeholder="Your Apartment" 
            name="delivery_address_apartment"
            value = "{% if form.delivery_address_apartment.value %}{{form.delivery_address_apartment.value}}{% endif %}"
            >
          {% if form.delivery_address_apartment.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.delivery_address_apartment.errors }}
          </div>
          {% endif %}
        </div>
        <div class="form-group full">
          <label for="id_delivery_notes">Notes</label>
          <textarea id="id_delivery_notes" 
            rows="2" 
            placeholder="Optional notes..." 
            name="delivery_notes"
            value = "{% if form.delivery_notes.value %}{{form.delivery_notes.value}}{% endif %}"
            ></textarea>
          {% if form.delivery_notes.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.delivery_notes.errors }}
          </div>
          {% endif %}
        </div>
      </div>

      {% comment %} <div class="form-group payment-method">
        <label>Payment Method</label>
        <div class="radio-group">
          <label class="custom-radio" for="pay_online_radio">

          <input type="radio" name="payment_on_get" id="pay_online_radio" value="0" checked>
          <span class="radio-mark"></span>Card Online
          </label>

          <label class="custom-radio" for="pay_upon_radio">

          <input type="radio" name="payment_on_get" id="pay_upon_radio" value="1">
          <span class="radio-mark"></span>Upon Receipt
          </label>

        </div>
      </div> {% endcomment %}

      <div class="form-group payment-method">
        <label class="form-label">Payment Method</label>
        <div class="radio-group">
          <input type="radio" name="payment_on_get" id="id_payment_on_get" value="0" checked class="custom-radio-input">
          <label class="custom-radio-label" for="id_payment_on_get">Card Online</label>
      
          <input type="radio" name="payment_on_get" id="id_payment_on_get" value="1" class="custom-radio-input">
          <label class="custom-radio-label" for="id_payment_on_get">Upon Receipt</label>
          {% if form.payment_on_get.errors %}
          <div class="notification-inline" style="margin-top: 10px;">
              {{ form.payment_on_get.errors }}
          </div>
          {% endif %}
        </div>
      </div>

      <button type="submit" class="checkout-btn-submit">Place Order</button>
    </form>
  </div>
</div>
{% endblock main %}