{% load static %}

{% if form.non_field_errors %}
    <div class="notification-container">
        <div class="notification notification--error">
            <div class="notification__message">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
            <button type="button" class="notification__close" data-bs-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
    </div>
{% endif %}


<div class="notification-container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div id="notification" class="notification notification--success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'warning' %}
                <div id="notification" class="notification notification--warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'error' %}
                <div id="notification" class="notification notification--error" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div id="jq-notification" class="notification notification--success" style="display: none;" role="alert"></div>
    {% endif %}
</div>