{% load static %}

<div class="products__over-column">
    {% if product.strength %}
        <div class="products__column_strength">{{ product.strength }}</div>
    {% endif %}

    {% if product.is_new %}
        <div class="products__column_new">NEW</div>
    {% endif %}

    {% if user.is_authenticated %}
        <button class="add-to-favorites" data-product-id="0"><img src="{% static 'img/icons/star-line-icon.png' %}"  alt="Favorite Star" class="favorite-icon"></button>
    {% endif %}
    <a href="{% url "catalog:product" product.slug %}" class="products__column">
        <div class="products__column_image">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static "img/no found.png" %}" alt="Not Found">
            {% endif %}
        </div>
        <div class="products__column_text">
            {% if product.headline %}
                {{ product.headline|safe }}
            {% else %}
                {{ product.name }}
            {% endif %}
        </div>
        <div class="products__column_price">
            {% if product.discount %}
                <p class="products__column_price_old-price">
                    ${{ product.price }}
                </p>
            {% endif %}
            ${{ product.sell_price }}
        </div>
    </a>
    <a href="{% url "cart:add" %}" 
    class="product__add-to-cart add-to-cart" 
    style="color: #E6C5C8;"
    data-product-id="{{product.id}}">
        {% csrf_token %}
        Add to Cart
    </a> <!-- Кнопка добавления в корзину -->			
</div>