<div class="itemview__reviews-header">
    <h2 class="itemview__reviews-title">Customer Reviews</h2>
    <div class="itemview__average-rating">
        <span class="itemview__average-number">{{ average_rating|default:"—" }}</span>

        {% for i in "12345" %}
            {% if forloop.counter <= average_rating %}
            ★
            {% else %}
            ☆
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="itemview__reviews">
    {% if user_review %}
        {% include "reviews/includes/review.html" with review=user_review %}
    {% endif %}
    {% for review in reviews %}
        {% include "reviews/includes/review.html" with review=review %}
    {% endfor %}
</div>

{% if can_review%}
    {% include "reviews/includes/reviews_form.html" %}
{% endif %}