{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}

{% block title %}Products{% endblock title %}

{% block main %}
<div class="catalog">
	<div class="catalog__container">
			
		<!-- Верхняя панель: фильтры + сортировка -->
		<div class="catalog__top-bar">
			<button class="catalog__filter-btn">Filters</button>
		
			<div class="catalog__sort">
				<label for="sort-select">Sort by:</label>
				<select id="sort-select" class="catalog__sort-select">
				<option value="default" {% if request.GET.order_by == 'default' or not request.GET.order_by %}selected{% endif %}>Default</option>
				<option value="strength" {% if request.GET.order_by == 'strength' %}selected{% endif %}>Strength ↑</option>
				<option value="-strength" {% if request.GET.order_by == '-strength' %}selected{% endif %}>Strength ↓</option>
				<option value="price" {% if request.GET.order_by == 'price' %}selected{% endif %}>Price ↑</option>
				<option value="-price" {% if request.GET.order_by == '-price' %}selected{% endif %}>Price ↓</option>
				</select>
			</div>
		</div>
	
		<!-- Фильтры -->
		<form action="
		{% if request.GET.q %}
			{% url "catalog:search" %}		
		{% else %}
			{% if slug_url %}
				{% url "catalog:index_slug" slug_url %}
			{% else %}
				{% url "catalog:index" %}
			{% endif %}
		{% endif %}
		" method="get" class="catalog__filters hidden">
			{% if request.GET.q %}
				<input type="hidden" name="q" value="{{ request.GET.q }}"
			{% endif %}
			<label class="custom-checkbox">
				<input type="checkbox" name="on_sale" value="on"{% if request.GET.on_sale %}checked{% endif %}>
				<span class="checkmark"></span>
				On Sale
			</label>
			<label class="custom-checkbox">
				<input type="checkbox" name="favorites" value="on"{% if request.GET.favorites %}checked{% endif %}>
				<span class="checkmark"></span>
				Favorites
			</label>
			<label class="custom-checkbox">
				<input type="checkbox" name="new" value="on"{% if request.GET.new %}checked{% endif %}>
				<span class="checkmark"></span>
				New
			</label>
			<button type="submit" class="catalog__filter-apply-btn">Apply</button>
		</form>

		{% if slug_url %}
			<div class="catalog__category">
				Currently viewing: <strong>{{category.name}}</strong>
			</div>
		{% endif %}
		{% if request.GET.q %}
			<div class="catalog__category">
				Search results for <strong>{{request.GET.q}}</strong>:
			</div>
			{% if not products %}
				<div class="catalog__category">
					Nothing found for your request
				</div>
			{% endif %}
		{% endif %}
	
		<div class="catalog__grid">

			{% for product in products %}
				{% if forloop.first or forloop.counter0|divisibleby:4 %}
					<div class="products__row">
				{% endif %}

				<div class="products__over-column">
					{% if product.strength %}
						<div class="products__column_strength">{{ product.strength }}</div>
					{% endif %}
					<button class="add-to-favorites" data-product-id="0"><img src="{% static 'img/icons/star-line-icon.png' %}"  alt="Favorite Star" class="favorite-icon"></button>
					<a href="{% url "catalog:product" product.slug %}" class="products__column">
						<div class="products__column_image">
							{% if product.image %}
								<img src="{{ product.image.url }}" alt="{{ product.name }}">
							{% else %}
								<img src="{% static "img/no found.png" %}" alt="Not Found">
							{% endif %}
						</div>
						<div class="products__column_text">
							{% if product.headline %}
								{{ product.headline|safe }}
							{% else %}
								{{ product.name }}
							{% endif %}
						</div>
						<div class="products__column_price">
							{% if product.discount %}
								<p class="products__column_price_old-price">
									${{ product.price }}
								</p>
							{% endif %}
							${{ product.sell_price }}
						</div>
					</a>
					<button class="add-to-cart" data-product-id="0">Add to Cart</button> <!-- Кнопка добавления в корзину -->			
				</div>

				{% if forloop.counter|divisibleby:4 or forloop.last %}
					</div>
				{% endif %}
			{% endfor %}

		</div>
	
		<!-- Пагинация -->
		{% if products %}
			<nav class="catalog__pagination" aria-label="Page navigation">
				<ul class="catalog__pagination-list">
					<div class="catalog__pagination-wrapper">
						<li class="catalog__page-item {% if not products.has_previous %}disabled{% endif %}">
							<a class="catalog__page-link" href="
							{% if products.has_previous %}
								?{% change_params page=products.previous_page_number %}
							{% else %}
								#
							{% endif %}
							">Previous</a>
						</li>

						{% for page in page_range_start|to:page_range_end %}
							<li class="catalog__page-item {% if products.number == page %} active{% endif %}">
								<a class="catalog__page-link" href="?{% change_params page=page %}">{{ page }}</a>
							</li>
						{% endfor %}

						
						<li class="catalog__page-item {% if not products.has_next %}disabled{% endif %}">
							<a class="catalog__page-link" href="
							{% if products.has_next %}
								?{% change_params page=products.next_page_number %}
							{% else %}
								#
							{% endif %}
							">Next</a>
						</li>
					</div>
				</ul>
			</nav>
		{% endif %}
	</div>
  </div>		  
<script>
document.querySelector('.catalog__filter-btn').addEventListener('click', () => {
	document.querySelector('.catalog__filters').classList.toggle('hidden');
});


document.getElementById('sort-select').addEventListener('change', function () {
	const value = this.value;
	const url = new URL(window.location.href);
	url.searchParams.set('order_by', value);
	url.searchParams.set('page', 1);
	window.location.href = url.toString();
});
</script>
{% endblock main %}