{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}

{% block title %}Products{% endblock title %}

{% block main %}
<div class="catalog">
	<div class="catalog__container">
			
		<!-- Верхняя панель: фильтры + сортировка -->
		<div class="catalog__top-bar">
			<button class="catalog__filter-btn">Filters</button>
		
			<div class="catalog__sort">
				<label for="sort-select">Sort by:</label>
				<select id="sort-select" class="catalog__sort-select">
				<option name="order_by" value="default">Default</option>
				<option name="order_by" value="-strength">Strength ↑</option>
				<option name="order_by" value="strength">Strength ↓</option>
				<option name="order_by" value="-price">Price ↑</option>
				<option name="order_by" value="price">Price ↓</option>
				</select>
			</div>
		</div>
	
		<!-- Фильтры -->
		<form action="
		{% if slug_url %}
			{% url "catalog:index" slug_url %}
		{% else %}
			{% url "catalog:index" %}
		{% endif %}
		" method="get" class="catalog__filters hidden">
			
				<label class="custom-checkbox">
					<input type="checkbox" name="on_sale" value="on"{% if request.GET.on_sale %}checked{% endif %}>
					<span class="checkmark"></span>
					On Sale
				</label>
				<label class="custom-checkbox">
					<input type="checkbox" name="favorites" value="on"{% if request.GET.favorites %}checked{% endif %}>
					<span class="checkmark"></span>
					Favorites
				</label>
				<label class="custom-checkbox">
					<input type="checkbox" name="new" value="on"{% if request.GET.new %}checked{% endif %}>
					<span class="checkmark"></span>
					New
				</label>
				<button type="submit" class="catalog__filter-apply-btn">Apply</button>
			
			</form>

		{% if slug_url %}
			<div class="catalog__category">
				Currently viewing: <strong>{{category.name}}</strong>
			</div>
		{% endif %}
	
		<div class="catalog__grid">

			{% for product in products %}
				{% if forloop.first or forloop.counter0|divisibleby:4 %}
					<div class="products__row">
				{% endif %}

				<div class="products__over-column">
					{% if product.strength %}
						<div class="products__column_strength">{{ product.strength }}</div>
					{% endif %}
					<button class="add-to-favorites" data-product-id="0"><img src="{% static 'img/icons/star-line-icon.png' %}"  alt="Favorite Star" class="favorite-icon"></button>
					<a href="{% url "catalog:product" product.slug %}" class="products__column">
						<div class="products__column_image">
							{% if product.image %}
								<img src="{{ product.image.url }}" alt="{{ product.name }}">
							{% else %}
								<img src="{% static "img/no found.png" %}" alt="Not Found">
							{% endif %}
						</div>
						<div class="products__column_text">{{ product.name }}</div>
						<div class="products__column_price">
							{% if product.discount %}
								<p class="products__column_price_old-price">
									${{ product.price }}
								</p>
							{% endif %}
							${{ product.sell_price }}
						</div>
					</a>
					<button class="add-to-cart" data-product-id="0">Add to Cart</button> <!-- Кнопка добавления в корзину -->			
				</div>

				{% if forloop.counter|divisibleby:4 or forloop.last %}
					</div>
				{% endif %}
			{% endfor %}

		</div>
	
		<!-- Пагинация -->
		<nav class="catalog__pagination" aria-label="Page navigation">
			<ul class="catalog__pagination-list">
			<div class="catalog__pagination-wrapper">
				<li class="catalog__page-item {% if not products.has_previous %}disabled{% endif %}">
				<a class="catalog__page-link" href="
				{% if products.has_previous %}
					?{% change_params page=products.previous_page_number %}
				{% else %}
					#
				{% endif %}
				">Previous</a>
				</li>
				{% for page in products.paginator.page_range %}
					{% if page >= products.number|add:-2 and page <= products.number|add:2 %}
						<li class="catalog__page-item {% if products.number == page %} active{% endif %}">
							<a class="catalog__page-link" href="?{% change_params page=page %}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li class="catalog__page-item {% if not products.has_next %}disabled{% endif %}">
					<a class="catalog__page-link" href="
					{% if products.has_next %}
						?{% change_params page=products.next_page_number %}
					{% else %}
						#
					{% endif %}
					">Next</a>
				</li>
			</div>
			</ul>
		</nav>
	</div>
  </div>		  
<script>
document.querySelector('.catalog__filter-btn').addEventListener('click', () => {
	document.querySelector('.catalog__filters').classList.toggle('hidden');
  });
</script>
{% endblock main %}