{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block main %}
<div class="itemview">
	<div class="itemview__card">
		<div class="itemview__id">#ID: {{ product.display_id }}</div>
		<div class="itemview__main">
			<div class="itemview__image">
				{% if product.image %}
					<img src="{{ product.image.url }}" alt="{{ product.name }}">
				{% else %}
					<img src="{% static "img/no found.png" %}" alt="Not Found">
				{% endif %}
			</div>
			<div class="itemview__info">
				<h1 class="itemview__title">{{ product.name }}</h1>
					<div class="itemview__price">
						{% if product.discount %}
							<p class="itemview__old-price">
								${{ product.price }}
							</p>
						{% endif %}
						${{ product.sell_price }}
					</div>
				{% if product.strength %}
					<p class="itemview__strength">Strength: <strong>{{ product.strength }}</strong></p>
				{% endif %}
				<p class="itemview__desc">{{ product.description }}</p>
				<div class="itemview__actions">
					<a href="{% url "cart:add"%}" 
					class="itemview__cartbtn add-to-cart"
					data-product-id="{{product.id}}">
						{% csrf_token %}
						Add to Cart
					</a>
					{% if user.is_authenticated %}
					<button class="itemview__favbtn">
						<img src="{% static 'img/icons/star-line-icon.png' %}" alt="Favorite">
					</button>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="reviews_block" class="itemview__reviews-block" data-product-id="{{ product.id }}">
			{% include "reviews/includes/reviews_block.html" %}
		</div>
	</div>
</div>
{% endblock main %}